.Join_Game_Button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Join_Game_Button button{
    margin-bottom: 10px;
}

.Guess_Text_Field{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Guess_Text_Field input{
    margin-bottom: 10px;
}