.Join_Game_Button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Join_Game_Button button{
    margin-bottom: 10px;
}

.Guess_Text_Field{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Guess_Text_Field input{
    margin-bottom: 10px;
}


.Container {
    display: flex; /* Use flexbox to create a horizontal layout */
  }
  
  .LeftColumn {
    flex: 1; /* Take up the available space in the container */
    padding: 20px; /* Optional: Add padding for better spacing */
  }
  
  .RightColumn {
    flex: 1; /* Take up the available space in the container */
    padding: 20px; /* Optional: Add padding for better spacing */
  }



